* {
    /*border: solid red 1px;*/
}

.article {
	margin-right: 200px;
}

.formula {
	text-align: center;
}

h3 {
	text-align: center;
}

@media screen and (max-width: 768px) {
	.article {
		margin-right: 5px;
		margin-left: 5px;
	}
}