* {
    /*border: solid red 1px;*/
}

body {
	margin-bottom: 50px;
}

.footer {
  position: fixed;
  height: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: #92b6d5;
  text-align: center;
}
