* {
    /*border: solid red 1px;*/
}

body {
	z-index: -1;
	margin-top: 70px;
	-webkit-text-size-adjust:none;
    -moz-text-size-adjust:none;
    -ms-text-size-adjust:none;
    -webkit-text-size-adjust:100%;
    -moz-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
}

.userInput {
	display: block !important; 
	padding: 10px !important; 
	margin: 0 !important; 
	border: 0 !important; 
	width: 100% !important; 
	height: 100% !important; 	
	border-radius: 0 !important; 
	line-height: 1 !important;
	text-transform: uppercase;
}

/*td {
	margin: 0 !important; 
	padding: 0 !important;
}*/

table {
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
	z-index: 1;
}

thead {
	background-color: #d3e1ee;	
}

.header {
	text-align: center;
}

.titleCol {
	width: 44%;
}

.dataCol {
	width: 14%;
	text-align: center;
}

@media screen and (max-width: 768px) {
	table {
		font-size: 13px !important;
	}
}

@media screen and (min-width: 768px) {
	.tableContainer {
		padding-left: 5%;
		padding-right: 5%;
	}
}