* {
    /*border: solid red 1px;*/
}

.formula {
	text-align: center;
}

.link {
	color: black;
}

h3 {
	text-align: center;
}

.criteria {
		margin: 0 auto;
		float: none;
		white-space: nowrap;
	}

@media screen and (max-width: 768px) {
	.article {
		margin-right: 5px;
		margin-left: 5px;
	}
	.criteria {
		/*margin: 0 auto;*/
		float: none;
		white-space: nowrap;
	}
}

@media screen and (min-width: 769px) {
	.article {
		padding-bottom:50px
	}
	
}