* {
    /*border: solid red 1px;*/
}

.link {
	color: black;
}

h3 {
	text-align: center;
}

.criteria {
		margin: 0 auto;
		float: none;
		white-space: nowrap;
	}

@media screen and (max-width: 768px) {

	.criteria {
		display:inline-block;
		float: none;
		white-space: nowrap;
	}
}

@media screen and (min-width: 769px) {

	
}