* {
    /*border: solid red 1px;*/
}

.navbar {
    height: 50px;
    background-color: #92B6D5;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    margin-top: 0;
}

.form-inline {
	display: block;
	float: left;
}

.form-control {
	height: 46px;
	max-width: 160px;		
	margin-top: 2px;
	border-width: 1.5px;
	border-color: #838487;
}

button {
	display: block;
	float: left;
	height: 46px;
	width: 50px;
	margin-top: 2px;
	background-color: #838487;
}

.navbar-brand {
	display: block;
	float: left;
	color: white;
	font-size: 1.9em;
	text-decoration: none;
}

.navbar-brand:hover {
	color: white;
}

.navbar-brand:visited {
	color: white;
}

.formBox {
		margin: auto;
		width:210px;
 }

@media screen and (max-width: 768px) {
	.navbar-brand {
		padding-left: 2px;
		font-size: 125%;
	}

	.form-control {
		max-width: 110px !important;
		padding-right: 5px;
		padding-left: 5px;
		font-size: 85%;
	}
}

@media screen and (min-width: 768px) {
	.formBox {
		margin: auto;
		width:270px;
	}
}