* {
    /*border: solid red 1px;*/
}

body {
	z-index: -1;
	margin-top: 70px;
	-webkit-text-size-adjust:none;
    -moz-text-size-adjust:none;
    -ms-text-size-adjust:none;
    -webkit-text-size-adjust:100%;
    -moz-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
}

table {
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
	z-index: 1;
}

thead {
	background-color: #d3e1ee;	
}

.titleCol {
	width: 72%;
}

.stockNumCol {
	width: 13%;
}

.esNumCol {
	width: 15%;
}

@media screen and (max-width: 830px) {
	table {
		font-size: 13px !important;
	}
}

@media screen and (min-width: 768px) {
	.tableContainer {
		margin-left: 15%;
		margin-right: 15%;
	}
}